@use "sass:map";

body.e-commerce{
    .ecommerce-container {
        max-width: 1280px !important;
        padding-left: 100px;
        padding-right: 100px;
        margin: 0 auto;
    }

    @media screen and (max-width: 1024px) {
        .ecommerce-container {
            max-width: 100%;
            width: 100%;
            padding-right: var(--bs-gutter-x, 1.5rem);
            padding-left: var(--bs-gutter-x, 1.5rem);
            margin-right: auto;
            margin-left: auto;
        }
    }
}